@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

body{
  background: #191919;
  font-family:"Archivo Black"
}

#hero-title{
  @apply translate-y-40 opacity-0
}

.content_panel{
  @apply translate-x-[100%] opacity-0
}

#circle{
  perspective: 500px;
}
